
/*======================================== Estilos para tira de libros ============================================ */
/* Aplica los colores a los div de género */
#divGeneroaventure {
  background-color: var(--color-aventura);
}

#divGenerolove {
  background-color: var(--color-romance);
}

#divGeneromistery {
  background-color: var(--color-misterio);
}

#divGeneronature {
  background-color: var(--color-naturaleza);
}

.encabezadoGenero{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
}

.lista-libros {
  display: flex;
}

.contenedor-libros {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  width: 95%;
  margin: 0 1vw;
}

.libros {
  display: flex;
  width: max-content;
  transition: transform 0.5s ease;
}

.libros img {
  width: 10vw;
  height: 15vw;
  margin-right: 1vw;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.flecha {
  width: 2vw;
  margin: 0 1vw;
}

#divGeneroaventure, #divGeneromistery, #divGeneronature, #divGenerolove{
  max-width: 85vw;
  margin-top: 3vh;
  margin-left: 1.5vw;
  padding: 2vh 0;
  border-radius: 1vw;
}

.tarjetas {
  display: flex;
  align-items: center;
  height: 5vh;
  background-color: rgba(255, 0, 0, 0.1);
  width: 95%;
  margin: 2vh auto 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.tarjeta {
  text-align: center;
  font-size: 90%;
  margin: auto;
}

/*======================================== Estilos para barra de carga ============================================ */
#carga {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#barra-de-progreso {
  width: 100%;
  height: 10px;
  background: #0074d9; /* Color de la barra de progreso */
  margin-top: 10px;
}