/* Font para el nombre de la página*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Satisfy&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

:root {
  --color-aventura: #007F4C; /* Color verde oscuro para Aventura */
  --color-romance: #FF69B4; /* Color rosa para Romance */
  --color-misterio: #4B0082; /* Color morado oscuro para Misterio */
  --color-naturaleza: #228B22; /* Color verde para Naturaleza */
}
button {
  margin-top: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

html {
  font-size: 2.5vw;
  min-font-size: 18px;
  /* Tamaño de letra base para dispositivos móviles */
  max-font-size: 36px;
  /* Tamaño de letra base para Desktop */
}

.contenedor {
  display: grid;
  grid-template: 10vh 1fr 10vh / 10vw 1fr;
  grid-template-areas: "header header"
    "left contenido"
    "footer footer";
  grid-gap: 1vw;
  height: 100vh;
}

/* Estilos para el modo Día */
html.modoDia {
  background-color: #fbfbfb;
  color: #050000;
}

/* Estilos para el modo Noche */
html.modoNoche {
  background-color: #121212;
  color: #fbfbfb;
}


.header {
  grid-area: header;
  border-radius: 0 0 1vw 1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  display: flex;
  width: 95vw;
  align-items: center;
  justify-content: center;

}

#logo img {
  width: 5vw;
  margin-right: 1vw;
}

#logoGenero {
  width: 3vw;
  margin-left: 1vw;
}

#logo div {
  font-family: 'Satisfy', cursive;
  font-size: 150%;
}

/* Botón modo Día Noche */
#modoDiaNoche {
  background-image: url("../css/iconos/dia.png");
  background-size: cover;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 3vw;
  height: 3vw;
  margin-right: 0.5vw;
  cursor: pointer;
}

.left {
  grid-area: left;
  background-color: rgba(175, 89, 158, 0.3);
  margin-left: 1vw;
  font-size: 70%;
}

.left_A {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  /* color: white; */
}
.menuPU{
  height: 50%;
}
.left div {
 text-align: center;
 font-weight: bold;
}

.left button {
  /* text-align: center; */
  border: none;
 }


a {
  text-decoration: none;
  color: inherit;
}

.menuop {
  /* display: inline-block; */
  background: #f66b8a;
  color: rgb(201, 201, 201);
  padding: 2vh 0.5vw;
  border-radius: 5px;
  font-size: 80%;
  text-align: center;
}

.menuop:hover {
  background: #0732f12d;
  color: black;
}


.contenido {
  grid-area: contenido;
  background-color: rgba(153, 204, 255, 0.5);
  margin-right: 1vw;
}

.footer {
  grid-area: footer;
  border-radius: 1vw 1vw 0 0;
}

.item1 {
  background-color: #af599e;
  padding: 1vw;
}

.item2 {
  border-radius: 1vw;
  padding: 1vw;
}

/* ============================== INICIO Y REGISTRO ==============================*/

.wrapper {
  background-color: whitesmoke;
  text-align: center;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(10, 12, 14, 0.747);
  margin-left: 220px;
  margin-right: 220px;
  margin-top: 100px;
}
button {
  margin-top: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.box {
  margin-bottom: 5px;
}
.label {
  font-size: 16px;
}
.registro {
  margin-top: 20px;
  text-align: center;
}
.registro p {
  font-size: 14px;
  color: #db2777;
}
.register {
  text-align: right;
  margin-top: 1vw;
}

p {
  font-size: 60%;
  margin: 1vw auto;
  text-align: justify;
  width: 90%;
  line-height: 1.5;
}
h3 {
  text-align: center;
}

/* ============================== Preferencias de lectura ==============================*/
/* Establece colores de fondo para cada género */
#generoAventura+label {
  background-color: var(--color-aventura);
}

#generoMisterio+label {
  background-color: var(--color-misterio);
}

#generoNaturaleza+label {
  background-color: var(--color-naturaleza);
}

#generoRomance+label {
  background-color: var(--color-romance);
}

.form-genero {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}

.form-genero label {
  display: flex;
  align-items: center;
  padding: 1vw;
  flex: 1;
  justify-content: space-around;
  border-radius: 10px;
}

input[type="checkbox"] {
  width: 4vw; 
  height: 4vh; 
}

/* ============================== CARRUSEL ==============================*/

.carrusel-contenedor {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.carrusel-imagenes {
  display: flex;
  animation: scroll 10s linear infinite; 
}

.carrusel-imagenes img {
  width: 100%;
  height: 15vw;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(-35%);
  }
  100% {
    transform: translateX(1%);
} 
}